<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'RSS Reader', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Entry', root_path %></li>     
        <li><%= link_to 'Feed', feeds_path %></li>
      </ul>
    </div>
  </div>
</nav>